* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ============ Common =========== */

.btn {
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    min-width: 186px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 20px 41px 21px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.desc {
    color: #9da6a5;
    font-size: 1, 8rem;
    font-weight: 400;
    line-height: 1.7;
}

.heading {
    color: #0d1111;
    font-style: normal;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

:root {
    --background-color: #fff;
}

a {
    text-decoration: none;
}

/* ============ Header=========== */

.header {
    background: var(--background-color);
}

.header .body {
    display: flex;
    align-items: center;
    padding: 57px 0 8px;
}

.header .navbar {
    margin-left: auto;
    margin-right: 177px;
}

.header .navbar ul {
    display: flex;
    gap: 39px;
}

.header .navbar a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .navbar a:hover,
.header .navbar li.active a {
    font-weight: 600;
    text-shadow: 1px 0 0 currentColor;
}

.header .action .sign-in {
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .action .sign-up {
    color: #1ebfc1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    padding: 12px 23px 12px 24px;
    margin-left: 24px;
}

/* ============ Hero =========== */

.hero {
    padding-top: 55px;
}

.hero .body {
    display: flex;
    margin-bottom: 79px;
    justify-content: space-between;
}

/* Hero left */

.hero .content-block {
    width: 40%;
    padding: 93px 172px 0 0;
}

.hero .heading {
    min-width: 458px;
    margin-top: 18px;
}

.hero .desc {
    width: 374px;
    margin-top: 46px;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero .btn {
    margin-right: 50px;
}

/* Hero right */

.hero .media-block {
    width: 60%;
    height: 631px;
    position: relative;
}

.hero .image {
    width: 100%;
    height: 631px;
    object-fit: cover;
}

.hero .courses {
    position: absolute;
    left: -40px;
    top: 149px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .courses .content {
    padding: 17px 25px 25px 18px;
    display: flex;
    gap: 16px;
    align-items: center;
    line-height: 1.3;
}

.hero .courses .content .book {
    position: relative;
}

.hero .courses .content .item {
    position: absolute;
    bottom: 8px;
    left: 4px;
}

.hero .info {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .schedules {
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 60px;
    left: -55px;
}

.hero .schedules .content {
    padding: 16px 25px 23px 25px;
    text-align: center;
}

.hero .schedules .content .info {
    margin-bottom: 16px;
}

.hero .schedules .content .bar-1 {
    margin-bottom: 12px;
}

.hero .schedules .content .bar-2 {
    margin-bottom: 10px;
}

.hero .schedules .content .bar-4 {
    margin-top: 16px;
    position: relative;
}

.hero .students {
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    right: 45px;
    bottom: 41px;
}

.hero .students .content {
    padding: 17px 35px;
    align-items: center;
}

.hero .students .avatar {
    display: flex;
}

.hero .students img {
    width: 33px;
    height: 33px;
    border-radius: 33px;
    object-fit: cover;
    margin-left: -10px;
    margin-top: 8px;
}

.hero .students img:first-of-type {
    margin-left: 0;
}
